# Dependency updates
go.mod @mendersoftware/client-dependabot-reviewers
go.sum @mendersoftware/client-dependabot-reviewers
Dockerfile* @mendersoftware/client-dependabot-reviewers
*requirements*.txt @mendersoftware/client-dependabot-reviewers
package.json @mendersoftware/client-dependabot-reviewers
package-lock.json @mendersoftware/client-dependabot-reviewers

# Git submodules
tests/unit/shunit2/ @mendersoftware/client-dependabot-reviewers
tests/integration/mender_integration/ @mendersoftware/client-dependabot-reviewers
tests/integration/mender_test_containers/ @mendersoftware/client-dependabot-reviewers
